<header class="header-area">
    <!-- Navbar Area -->
    <div class="fitness-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="fitnessNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="img/core-img/porao.png" style="width: 150px; height: 45px;" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">Quem somos ?</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="blog.html">Novidades</a></li>
                                        <li><a href="contato.html">Contato</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Mega Menu</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">Quem somos ?</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="blog.html">Novidades</a></li>
                                            <li><a href="contato.html">Contato</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">Quem somos ?</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="blog.html">Novidades</a></li>
                                            <li><a href="contato.html">Contato</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">Quem somos ?</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="blog.html">Novidades</a></li>
                                            <li><a href="contato.html">Contato</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">Quem somos ?</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="blog.html">Novidades</a></li>
                                            <li><a href="contato.html">Contato</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="about-us.html">Quem somos ?</a></li>
                                <li><a href="blog.html">Novidades</a></li>
                                <li><a href="contato.html">Contato</a></li>
                            </ul>

                            <!-- Call Button -->
                            <a href="#" class="fitness-btn menu-btn ml-30">Call: +34 586 778 8892</a>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>